<div id="site-cart" class="site-nav-container" tabindex="-1">
  <div class="site-nav-container-last">
    <p class="title">Giỏ hàng</p>
    <div class="cart-view clearfix">
      <table id="clone-item-cart" class="table-clone-cart">
        <tr class="item_2 hidden">
          <td class="img"><a href="" title=""><img src="" alt="" /></a></td>
          <td>
            <a class="pro-title-view" href="" title=""></a>
            <span class="variant"></span>
            <span class="pro-quantity-view"></span>
            <span class="pro-price-view"></span>
            <span class="remove_link remove-cart">
            </span>
          </td>
        </tr>
      </table>
      <table id="cart-view">
        <tr>
          <td class="img">
            <a href="products/{{product.handle}}">
              <img src="{{settings.product1}}" alt="{{product.title}}" />
            </a>
          </td>
          <td>
            <a class="pro-title-view" href="products/{{product.handle}}" title="{{product.title}}"></a>
            <span class="variant"></span>
            <span class="pro-quantity-view">1</span>
            <span class="pro-price-view">269,100₫</span>
            <span class="remove_link remove-cart">
              <a href='javascript:void(0);' onclick='deleteCart(1)'><i class='fa fa-times'></i></a>
            </span>
          </td>
        </tr>
        <tr>
          <td class="img">
            <a href="products/{{product.handle}}">
              <img src="{{settings.product1}}" alt="Người trong muôn nghề" />
            </a>
          </td>
          <td>
            <a class="pro-title-view" href="products/{{product.handle}}" title="Người trong muôn nghề">Người
              trong muôn nghề</a>
            <span class="variant"></span>
            <span class="pro-quantity-view">2</span>
            <span class="pro-price-view">136,800₫</span>
            <span class="remove_link remove-cart">
              <a href='javascript:void(0);' onclick='deleteCart(2)'><i class='fa fa-times'></i></a>
            </span>
          </td>
        </tr>
        <tr>
          <td class="img">
            <a href="products/combo-sach-dam-ba-cai-tuoi-tre-{{product.handle}}">
              <img src="{{settings.product1}}" alt="Combo sách Dăm ba cái tuổi trẻ + Người trong muôn nghề" />
            </a>
          </td>
          <td>
            <a class="pro-title-view" href="products/combo-sach-dam-ba-cai-tuoi-tre-{{product.handle}}"
              title="Combo sách Dăm ba cái tuổi trẻ + Người trong muôn nghề">Combo sách Dăm ba cái tuổi trẻ +
              Người trong muôn nghề</a>
            <span class="variant"></span>
            <span class="pro-quantity-view">1</span>
            <span class="pro-price-view">269,100₫</span>
            <span class="remove_link remove-cart">
              <a href='javascript:void(0);' onclick='deleteCart(3)'><i class='fa fa-times'></i></a>
            </span>
          </td>
        </tr>
      </table>
      <span class="line"></span>
      <table class="table-total">
        <tr>
          <td class="text-left">TỔNG TIỀN:</td>
          <td class="text-right" id="total-view-cart">811,800₫</td>
        </tr>
        <tr>
          <td><a href="/cart" class="linktocart button dark">Xem giỏ hàng</a></td>
          <td><a href="/checkout" class="linktocheckout button buy-now">Thanh toán</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>