<section class="section wrapper-hometabs-collection">
  <div class="container">
    <div class="wrapper-heading-home">
      <div class="tab-title">
        <ul class="box-tabs nav-tabs tabbernav_product" id="ajax-tab-collection">
          <li class="active">
            <a href="#tab1" data-toggle="tab" data-handle="hot-products">Sản phẩm nổi bật</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content tabs-products">
      <div class="tab-item active" id="tab1" data-get="true">
        <div class="listProduct-carousel--overflow">
          <div class="product-carousel carousel-index-owlnav carousel-tabs product-lists noCarousel-overflow">
            <div class="pro-loop animated fadeIn">
              <div class="product-block" data-anmation="1">
                <div class="product-img fade-box">
                  <div class="product-sale"><span>-10%</span></div>
                  <a href="/products/xe-tai-hino-nganh-it-co-gi" title="Xe tải Hino: Ngành IT có gì?"
                    class="image-resize">
                    <picture>
                      <source data-srcset="{{settings.product1}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product1}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product1}}" />
                      <img data-src="{{settings.product1}}" class="lazyload" alt=" Xe tải Hino: Ngành IT có gì? " />
                    </picture>
                    <picture>
                      <source data-srcset="{{settings.product2}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product2}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product2}}" />
                      <img data-src="{{settings.product2}}" class="lazyload" alt=" Xe tải Hino: Ngành IT có gì? " />
                    </picture>
                  </a>
                  <div class="button-add">
                    <button type="submit" title="Mua ngay" class="action" onclick="buy_now('1058030689')">Mua
                      ngay</button>
                    <button type="submit" title="Thêm vào giỏ" class="action add-to-cart"
                      data-variantid="1058030689">Thêm vào giỏ</button>
                  </div>
                </div>
                <div class="product-detail clearfix">
                  <div class="box-pro-detail">
                    <h3 class="pro-name">
                      <a href="/products/xe-tai-hino-nganh-it-co-gi" title="Xe tải Hino: Ngành IT có gì?">Xe
                        tải Hino: Ngành IT có
                        gì?</a>
                    </h3>
                    <div class="box-pro-prices">
                      <p class="pro-price highlight">152,000₫
                        <span class="pro-price-del"><del class="compare-price">169,000₫</del></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pro-loop animated fadeIn">
              <div class="product-block" data-anmation="2">
                <div class="product-img fade-box">
                  <div class="product-sale"><span>-10%</span></div>
                  <a href="/products/xe-tai-hino" title="Xe tải Hino" class="image-resize">
                    <picture>
                      <source data-srcset="{{settings.product3}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product3}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product3}}" />
                      <img data-src="{{settings.product3}}" class="lazyload" alt=" Xe tải Hino " />
                    </picture>
                    <picture>
                      <source data-srcset="{{settings.product4}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product4}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product4}}" />
                      <img data-src="{{settings.product4}}" class="lazyload" alt=" Xe tải Hino " />
                    </picture>
                  </a>
                  <div class="button-add">
                    <button type="submit" title="Mua ngay" class="action" onclick="buy_now('1056608910')">Mua
                      ngay</button>
                    <button type="submit" title="Thêm vào giỏ" class="action add-to-cart"
                      data-variantid="1056608910">Thêm vào giỏ</button>
                  </div>
                </div>
                <div class="product-detail clearfix">
                  <div class="box-pro-detail">
                    <h3 class="pro-name">
                      <a href="/products/xe-tai-hino" title="Xe tải Hino">Người trong muôn
                        nghề</a>
                    </h3>
                    <div class="box-pro-prices">
                      <p class="pro-price highlight">152,000₫
                        <span class="pro-price-del"><del class="compare-price">169,000₫</del></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pro-loop animated fadeIn">
              <div class="product-block" data-anmation="3">
                <div class="product-img fade-box">
                  <div class="product-sale"><span>-12%</span></div>
                  <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-xe-tai-hino-nganh-it-co-gi"
                    title="Combo sách Dăm ba cái tuổi trẻ và Xe tải Hino: Ngành IT có gì?" class="image-resize">
                    <picture>
                      <source data-srcset="{{settings.product2}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product2}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product2}}" />
                      <img data-src="{{settings.product2}}" class="lazyload"
                        alt=" Combo sách Dăm ba cái tuổi trẻ và Xe tải Hino: Ngành IT có gì? " />
                    </picture>
                    <picture>
                      <source data-srcset="{{settings.product1}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product1}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product1}}" />
                      <img data-src="{{settings.product1}}" class="lazyload"
                        alt=" Combo sách Dăm ba cái tuổi trẻ và Xe tải Hino: Ngành IT có gì? " />
                    </picture>
                  </a>
                  <div class="button-add">
                    <button type="submit" title="Mua ngay" class="action" onclick="buy_now('1060964574')">Mua
                      ngay</button>
                    <button type="submit" title="Thêm vào giỏ" class="action add-to-cart"
                      data-variantid="1060964574">Thêm vào giỏ</button>
                  </div>
                </div>
                <div class="product-detail clearfix">
                  <div class="box-pro-detail">
                    <h3 class="pro-name">
                      <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-xe-tai-hino-nganh-it-co-gi"
                        title="Combo sách Dăm ba cái tuổi trẻ và Xe tải Hino: Ngành IT có gì?">Combo
                        sách Dăm ba cái tuổi trẻ và Xe tải Hino: Ngành IT có gì?</a>
                    </h3>
                    <div class="box-pro-prices">
                      <p class="pro-price highlight">299,000₫
                        <span class="pro-price-del"><del class="compare-price">338,000₫</del></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pro-loop animated fadeIn">
              <div class="product-block" data-anmation="4">
                <div class="product-img fade-box">
                  <div class="product-sale"><span>-12%</span></div>
                  <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-xe-tai-hino"
                    title="Combo sách Dăm ba cái tuổi trẻ + Xe tải Hino" class="image-resize">
                    <picture>
                      <source data-srcset="{{settings.product4}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product4}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product4}}" />
                      <img data-src="{{settings.product4}}" class="lazyload"
                        alt=" Combo sách Dăm ba cái tuổi trẻ + Xe tải Hino " />
                    </picture>
                    <picture>
                      <source data-srcset="{{settings.product3}}" media="(max-width: 500px)" />
                      <source data-srcset="{{settings.product3}}" media="(max-width: 1024px)" />
                      <source data-srcset="{{settings.product3}}" />
                      <img data-src="{{settings.product3}}" class="lazyload"
                        alt=" Combo sách Dăm ba cái tuổi trẻ + Xe tải Hino " />
                    </picture>
                  </a>
                  <div class="button-add">
                    <button type="submit" title="Mua ngay" class="action" onclick="buy_now('1060963709')">Mua
                      ngay</button>
                    <button type="submit" title="Thêm vào giỏ" class="action add-to-cart"
                      data-variantid="1060963709">Thêm vào giỏ</button>
                  </div>
                </div>
                <div class="product-detail clearfix">
                  <div class="box-pro-detail">
                    <h3 class="pro-name">
                      <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-xe-tai-hino"
                        title="Combo sách Dăm ba cái tuổi trẻ + Xe tải Hino">Combo sách Dăm ba cái
                        tuổi trẻ + Xe tải Hino</a>
                    </h3>
                    <div class="box-pro-prices">
                      <p class="pro-price highlight">299,000₫
                        <span class="pro-price-del"><del class="compare-price">338,000₫</del></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="collection-viewall text-center">
          <a class="button link-collection" href="/collections/hot-products">Xem thêm sản phẩm</a>
        </div>
      </div>
      <!-- tabs ajax -->
    </div>
  </div>
</section>