<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html amp class="no-js" lang="vi">
<!--<![endif]-->

{% include '{{code}}/templates/head' %}

<body id="quochuydev-store" class="cart">
  <!-- Facebook Pixel Code -->
  <div class="main-body  layoutProduct_scroll ">
    <div class="scroller">
      <div class="scroller-inner">
        <div class="promo-bar" id="topbar">
          <div class="container">
            <div id="slideText">
              <p><a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi">
                  <span>Người Trong<span></a></p>
            </div>
          </div>
        </div>
        <header class="main-header">
          <div class="wrapper-header " id='themes-header'>
            <div class="container">
              <div class="header-middle row-flex flex-flow-header">
                <div class="col-md-4 wrap-header-1 hidden-sm hidden-xs"></div>
                <div class="col-md-4 wrap-header-2 col-sm-6 col-xs-7">
                  <div class="main-header--logo fade-box" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="" itemprop="url">
                      <img itemprop="logo" src="{{settings.logo}}" alt="quochuydev Store"
                        class="img-responsive logoimg lazyload" style="width: 64px;height: 64px;" />
                    </a>
                  </div>
                </div>
                <div class="col-md-4 wrap-header-3 col-sm-6 col-xs-5">
                  <div class="main-header--action row-flex">
                    <div class="action-acc"> </div>
                    <div class="action--search" id="site-search-handle">
                      <a href="/search">
                        <svg class="svg-search" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                          viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
                          <g>
                            <path
                              d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z">
                            </path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="action-cart" id="site-cart-handle">
                      <a href="/cart">
                        <span class="cart-menu" aria-hidden="true">
                          <svg class="svg-cart" xmlns="http://www.w3.org/2000/svg" height="456pt"
                            viewBox="0 -13 456.75885 456" width="456pt">
                            <path
                              d="m150.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
                            </path>
                            <path
                              d="m446.855469 94.035156h-353.101563l-7.199218-40.300781c-4.4375-24.808594-23.882813-44.214844-48.699219-48.601563l-26.101563-4.597656c-5.441406-.96875-10.632812 2.660156-11.601562 8.097656-.964844 5.441407 2.660156 10.632813 8.101562 11.601563l26.199219 4.597656c16.53125 2.929688 29.472656 15.871094 32.402344 32.402344l35.398437 199.699219c4.179688 23.894531 24.941406 41.324218 49.199219 41.300781h210c22.0625.066406 41.546875-14.375 47.902344-35.5l47-155.800781c.871093-3.039063.320312-6.3125-1.5-8.898438-1.902344-2.503906-4.859375-3.980468-8-4zm-56.601563 162.796875c-3.773437 12.6875-15.464844 21.367188-28.699218 21.300781h-210c-14.566407.039063-27.035157-10.441406-29.5-24.800781l-24.699219-139.398437h336.097656zm0 0">
                            </path>
                            <path
                              d="m360.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
                            </path>
                          </svg>
                          <span class="count-holder"><span class="count">(4)</span></span>
                        </span>
                      </a>
                    </div>
                    <div class="action--bar hamburger-menu hidden-lg hidden-md" id="site-menu-handle">
                      <span class="bar"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 wrap-header-4 hidden-sm hidden-xs">
                  <div class="main-header--menu">
                    <nav class="navbar-mainmenu">
                      <ul class="list-mainmenu">
                        <li class="">
                          <a href="/" title="Trang chủ">
                            Trang chủ
                          </a>
                        </li>
                        <li class="has-submenu ">
                          <a href="/collections/all" title="Tủ sách nhện">
                            Tủ sách nhện
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </a>
                          <ul class="list-submenu">
                            <li class="">
                              <a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi" title="{{product.title}}">
                                {{product.title}}
                              </a>
                            </li>
                            <li class="">
                              <a href="/products/nguoi-trong-muon-nghe" title="Người trong muôn nghề">
                                Người trong muôn nghề
                              </a>
                            </li>
                            <li class="">
                              <a href="/products/du-hoc-ky-van-dam-co-chi" title="Du học ký: vạn dặm có chị?">
                                Du học ký: vạn dặm có chị?
                              </a>
                            </li>
                            <li class="">
                              <a href="/products/dam-ba-cai-tuoi-tre" title="Dăm ba cái tuổi trẻ">
                                Dăm ba cái tuổi trẻ
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="">
                          <a href="/blogs/chuyen-nha-nhen" title="Chuyện nhà Nhện">
                            Chuyện nhà Nhện
                          </a>
                        </li>
                        <li class="">
                          <a href="https://nguoitrongmuonnghe.quochuydev.vn/it" title="Dự án mới">
                            Dự án mới
                          </a>
                        </li>
                        <li class="">
                          <a href="/pages/lien-he" title="Liên hệ">
                            Liên hệ
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <main class="mainContent-theme ">
          <div id="layout-cart">
            <div class="main-content-cart">
              <div class="breadcrumb-shop">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                      <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                          <meta itemprop="position" content="1" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <span itemprop="item" content="/cart"><span itemprop="name">Giỏ
                              hàng
                              (4)</span></span>
                          <meta itemprop="position" content="2" />
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row layout-cart">
                  <div class="col-md-12 col-xs-12">
                    <div class="row">
                      <div class="col-md-9 col-xs-12">
                        <h1 class="heading-cart">Giỏ hàng của bạn</h1>
                        <div class="list-pageform-cart">
                          <form action="/cart" method="post" id="cartformpage">
                            <div class="cart-row">
                              <h2 class="title-number-cart">
                                Bạn đang có <span>4 sản phẩm</span> trong giỏ hàng
                              </h2>
                              <div class="table-cart">
                                <div class="item line-item line-item-container" data-variant-id="1060964574">
                                  <div class="left">
                                    <div class="item-img">
                                      <a href="/products/{{product.handle}}">
                                        <img src="{{settings.product1}}" alt="{{product.title}}" />
                                      </a>
                                    </div>
                                  </div>
                                  <div class="right">
                                    <div class="item-info">
                                      <a href="/products/{{product.handle}}">
                                        <h3>{{product.title}}
                                        </h3>
                                        <div class="item-desc"> </div>
                                      </a>
                                    </div>
                                    <div class="item-quan">
                                      <div class="qty quantity-partent qty-click clearfix">
                                        <button type="button" class="qtyminus qty-btn">-</button> <input type="text"
                                          size="4" name="updates[]" min="1" id="updates_1060964574"
                                          data-price="26910000" value="1" class="tc line-item-qty item-quantity" />
                                        <button type="button" class="qtyplus qty-btn">+</button> </div>
                                    </div>
                                    <div class="item-price">
                                      <p>
                                        <span>269,100₫</span> <del>(338,000₫)</del>
                                      </p>
                                    </div>
                                    <div class="item-total-price">
                                      <div class="price">
                                        <span class="text">Thành tiền:</span>
                                        <span class="line-item-total">269,100₫</span>
                                      </div>
                                      <div class="remove">
                                        <a href="/cart/change?line=1&quantity=0" class="cart">
                                          <img src="{{settings.ic_close}}" />
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="cart-row">
                              <div class="row note-block">
                                <div class="col-md-5 col-xs-12 cart-left-block">
                                  <div class="checkout-buttons clearfix">
                                    <label for="note" class="note-label">Ghi chú đơn hàng</label>
                                    <textarea class="form-control" id="note" name="note" rows="5"></textarea>
                                  </div>
                                </div>
                                <div class="col-md-7 col-xs-12 cart-right-block">
                                  <div class="policy_return">
                                    <h4>Chính sách Đổi/Trả</h4>
                                    <ul>
                                      <li>Sản phẩm được đổi 1 lần duy nhất, không hỗ trợ trả.</li>
                                      <li>Sản phẩm còn đủ tem mác, chưa qua sử dụng.</li>
                                      <li>Sản phẩm nguyên giá được đổi trong 30 ngày trên toàn hệ thống.</li>
                                      <li>Sản phẩm sale chỉ hỗ trợ đổi size (nếu cửa hàng còn) trong 7 ngày trên toàn hệ
                                        thống.</li>
                                    </ul>
                                  </div> <a class="button dark link-continue hidden" href="/collections/all"
                                    title="Tiếp tục mua hàng"><i class="fa fa-reply"></i>Tiếp tục mua hàng</a>
                                  <button type="submit" id="update-cart" class="btn-update button hidden" name="update"
                                    value="">Cập nhật</button>
                                  <button type="submit" id="checkout" class="btn-checkout button hidden" name="checkout"
                                    value="">Thanh toán</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div> <!-- Nhóm SP -->
                        <div class="section section-collection">
                          <div class="wrapper-heading-home">
                            <h2>
                              <a href="/collections/tu-sach-nhen"> Có thể bạn sẽ thích 2 </a>
                            </h2>
                            <div class="view-all">
                              <a href="/collections/tu-sach-nhen">Xem Thêm</a>
                            </div>
                          </div>
                          <div class="row listProduct-cart content-product-list ">
                            <div class="col-md-3 col-sm-6 col-xs-6 pro-loop">
                              <div class="product-block" data-anmation="1">
                                <div class="product-img fade-box">
                                  <div class="product-sale"><span>-10%</span></div>
                                  <a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi" title="{{product.title}}"
                                    class="image-resize">
                                    <picture>
                                      <source data-srcset="{{settings.product1}}" />
                                      <img data-src="{{settings.product1}}" class="lazyload"
                                        alt=" {{product.title}} " />
                                    </picture>
                                    <picture>
                                      <source data-srcset="{{settings.product2}}" />
                                      <img data-src="{{settings.product2}}" class="lazyload"
                                        alt=" {{product.title}} " />
                                    </picture>
                                  </a>
                                </div>
                                <div class="product-detail clearfix">
                                  <div class="box-pro-detail">
                                    <h3 class="pro-name">
                                      <a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi"
                                        title="{{product.title}}">Người Trong Muôn Nghề: Ngành IT
                                        có gì?</a>
                                    </h3>
                                    <div class="box-pro-prices">
                                      <p class="pro-price highlight">152,000₫
                                        <span class="pro-price-del"><del class="compare-price">169,000₫</del></span>
                                      </p>
                                    </div> <button type="submit" title="Mua ngay" class="action"
                                      onclick="buy_now('1058030689')">Mua ngay</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 sidebar-cart-fix">
                        <div class="order-summary-block">
                          <h2 class="order-summary-title">Thông tin đơn hàng</h2>
                          <div class="summary-subtotal hidden">
                            <p class="subtotal">Tạm tính:
                              <span class="cart-total-price">
                                811,800₫
                              </span>
                            </p>
                            <p class="shipping clearfix">Phí vận chuyển:
                              <span>---</span>
                            </p>
                          </div>
                          <div class="summary-total">
                            <p>Tổng tiền: <span>811,800₫</span>
                            </p>
                          </div>
                          <div class="summary-action">
                            <p>Bạn có thể nhập mã giảm giá ở trang thanh toán</p>
                            <a class="checkout-btn" href="#">THANH TOÁN</a>
                          </div>
                        </div>
                        <div class="get-code"> </div>
                        <a href="/" class="continue">Tiếp tục mua hàng →</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function log(args) {
              var str = "";
              for (var i = 0; i < arguments.length; i++) {
                if (typeof arguments[i] === "object") {
                  str += JSON.stringify(arguments[i]);
                } else {
                  str += arguments[i];
                }
              }
              return str;
            }
            function addCommas(str) {
              var parts = (str + "").split("."),
                main = parts[0],
                len = main.length,
                output = "",
                i = len - 1; while (i >= 0) {
                  output = main.charAt(i) + output;
                  if ((len - i) % 3 === 0 && i > 0) {
                    output = "," + output;
                  }
                  --i;
                }
              // put decimal part back
              if (parts.length > 1) {
                output += "," + parts[1];
              }
              return output;
            }
            ; (function ($, window, document, undefined) {
              var pluginName = 'hrvAJAXCart',
                defaults = {
                  propertyName: "value"
                };
              function Plugin(element, options) {
                this.element = element;
                this.options = $.extend({}, defaults, options);
                this._defaults = defaults;
                this._name = 'hrvAJAXCart';
                this.init();
              }
              Plugin.prototype = {
                init: function () {
                  var item = this.options.item,
                    item_total = this.options.item_total,
                    item_qty = this.options.item_qty,
                    subtotal = $(this.options.subtotal);                  // Change line item quantity
                  $(item_qty).change(function () {
                    var qty = $(this).val(),
                      this_item = $(this).closest(item),
                      variant_id = this_item.data('variant-id'),
                      this_item_total = this_item.find(item_total);
                    $.ajax({
                      type: 'POST',
                      url: '/cart/change.js',
                      dataType: 'json',
                      data: {
                        quantity: qty,
                        id: variant_id
                      },
                      success: function (cart) {
                        if (qty == 0) {
                          this_item.remove();
                        } else {
                          $.each(cart.items, function (index, row) {
                            var price = parseFloat(row.line_price / 100).toFixed(2);
                            var currency = Number(price.replace(/[^0-9\.-]+/g, ""));
                            if (variant_id == row.variant_id) this_item_total.html(log(addCommas(currency)) + ' đ');
                          });
                        }
                        var sub_price = parseFloat(cart.total_price / 100).toFixed(2);
                        sub_price = Number(sub_price.replace(/[^0-9\.-]+/g, ""));
                        subtotal.html(log(addCommas(sub_price)) + ' đ');
                      },
                      error: function (response) {
                        alert(response);
                      }
                    });
                  });                  // Remove line item
                  $(this.options.item_remove).click(function (e) {
                    e.preventDefault();
                    $(this).closest(item).find(item_qty).val(0);
                    $(this).closest(item).find(item_qty).trigger('change');
                  });
                }
              };
              $.fn.hrvAJAXCart = function (options) {
                return this.each(function () {
                  if (!$.data(this, "plugin_" + pluginName)) {
                    $.data(this, "plugin_" + pluginName, new Plugin(this, options));
                  }
                });
              };
            })(jQuery, window, document);          </script>
          <script>
            $(document).ready(function () {
              $('.checkout-btn').click(function (e) {
                e.preventDefault();
                $('button[name="checkout"]').trigger('click');
              });
            });
            /* Social */
            $(document).ready(function () {
              var href = window.location.href;
              if (href.indexOf("?add=") != -1) {
                var splitHref = href.split("?add=")[1];
                var variantId = parseInt($.trim(splitHref.split("&ref=")[0]));
                $.ajax({
                  url: "/cart/" + variantId + ":1",
                  success: function (data) {
                    window.location = '/cart';
                  }
                });
              }
            });
            /*==== END SOCIAL ===========*/
            function unPromote(tmp) {
              var self = this;
              tmp += "&note=" + $('#note').val();
              $.post('/cart', tmp).always(function () {
                setTimeout(function () { location.reload(); }, 500);
              });
            } $('.qty-click .qtyplus').on('click', function (e) {
              e.preventDefault();
              var input = $(this).parent('.quantity-partent').find('input');
              var currentVal = parseInt(input.val());
              if (!isNaN(currentVal)) {
                input.val(currentVal + 1);
              } else {
                input.val(1);
              }
              Update_price_change();
            });
            $(".qty-click .qtyminus").on('click', function (e) {
              e.preventDefault();
              var input = $(this).parent('.quantity-partent').find('input');
              var currentVal = parseInt(input.val());
              if (!isNaN(currentVal) && currentVal > 1) {
                input.val(currentVal - 1);
              } else {
                input.val(1);
              }
              Update_price_change();
            });
            function Update_price_change() {
              var params = {
                type: 'POST',
                url: '/cart/update.js',
                data: $('#cartformpage').serialize(),
                async: false,
                dataType: 'json',
                success: function (data) {
                  $.each(data.items, function (i, v) {
                    $('.table-cart .line-item:eq(' + i + ') .line-item-total').html(Haravan.formatMoney(v.line_price, "{{amount}}₫"));
                  });
                  $('.summary-total span').html(Haravan.formatMoney(data.total_price, "{{amount}}₫"));
                  $('.cart-total-price').html(Haravan.formatMoney(data.total_price, "{{amount}}₫"));
                  $('.total_price').html(Haravan.formatMoney(data.total_price, "{{amount}}₫"));
                  $('.count-cart').html('Có ' + '<span>' + data.item_count + ' sản phẩm </span>' + 'trong giỏ hàng');
                },
                error: function (XMLHttpRequest, textStatus) {
                  Haravan.onError(XMLHttpRequest, textStatus);
                }
              };
              jQuery.ajax(params);
            }
          </script>
        </main>
        <!-- 7. Gallery -->
        <footer class="main-footer mainfooter-toolbar ">
          <div class="main-footer--bottom">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title"> Giới thiệu</h4>
                    <div class="footer-content">
                      <p>Bản quyền của Công Ty Cổ Phần Ahora - Giấy chứng nhận ĐKKD số: 0107886528 do Phòng ĐKKD Sở kế
                        hoạch và đầu tư Tp Hà Nội cấp ngày 14/06/2017</p>
                      <div class="logo-footer">
                        <a href="http://online.gov.vn/Home/WebDetails/68674">
                          <img src="https://file.hara.vn/1000114117/file/logo-bct_5a0bbf4fb2d34c3e88c04df41ad38dc9.png"
                            alt="Bộ Công Thương">
                        </a>
                      </div>
                      <div class="social-list"> <a href="https://www.facebook.com/quochuydevBooks/"
                          class="fa fa-facebook"></a>
                        <a href="http://quochuydev.com/" class="fa fa-google"></a> <a
                          href="https://www.youtube.com/channel/UCRsd_L7wBGdHLhfacuy3QVw" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/quochuydev.official/" class="fa fa-skype"></a> </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-link">
                    <h4 class="footer-title">
                      PHÁP LÝ & CÂU HỎI
                    </h4>
                    <div class="footer-content toggle-footer">
                      <ul>
                        <li class="item">
                          <a href="/search" title="Tìm kiếm">Tìm kiếm</a>
                        </li>
                        <li class="item">
                          <a href="/pages/about-us" title="Giới thiệu">Giới thiệu</a>
                        </li>
                        <li class="item">
                          <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản và điều kiện giao dịch chung">Điều khoản
                            và điều kiện giao dịch chung</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-giao-nhan-san-pham" title="Chính sách giao nhận sản phẩm">Chính
                            sách giao nhận sản phẩm</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo vệ thông tin cá nhân">Chính sách bảo
                            vệ thông tin cá nhân</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-thanh-toan" title="Chính sách thanh toán">Chính sách thanh toán</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title">
                      Thông tin liên hệ
                    </h4>
                    <div class="footer-content toggle-footer">
                      <ul>
                        <li><span>Địa chỉ:</span> Số 6 ngõ 186 đường Bưởi, Cống Vị, Ba Đình, Hà Nội</li>
                        <li><span>Điện thoại:</span> (+84) 365.888.233</li>
                        <li><span>Fax:</span> </li>
                        <li><span>Mail:</span> contact@quochuydev.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title">
                      FANPAGE
                    </h4>
                    <div class="footer-content">
                      <!-- Facebook widget -->
                      <div class="footer-static-content">
                        <div class="fb-page" data-href="https://www.facebook.com/quochuydevBooks/" data-height="300"
                          data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                          data-show-facepile="true" data-show-posts="false"> </div>
                      </div>
                      <div style="clear:both;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-footer--copyright">
            <div class="container">
              <div class="main-footer--border">
                <p>Copyright © 2020 <a href=""> quochuydev Store</a>. <a target='_blank'
                    href='https://www.haravan.com'>Powered by Haravan</a></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="addThis_listSharing hidden-xs">
      <ul class="addThis_listing">
        <li class="addThis_item">
          <a class="addThis_item--icon" href="tel:(+84) 365.888.233" rel="nofollow">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint2_linear)" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.0087 9.35552C14.1581 9.40663 14.3885 9.52591 14.5208 9.61114C15.3315 10.148 17.5888 13.0324 18.3271 14.4726C18.7495 15.2949 18.8903 15.9041 18.758 16.3558C18.6214 16.8415 18.3953 17.0971 17.384 17.9109C16.9786 18.239 16.5988 18.5756 16.5391 18.6651C16.3855 18.8866 16.2617 19.3212 16.2617 19.628C16.266 20.3395 16.7269 21.6305 17.3328 22.6232C17.8021 23.3944 18.6428 24.3828 19.4749 25.1413C20.452 26.0361 21.314 26.6453 22.2869 27.1268C23.5372 27.7488 24.301 27.9064 24.86 27.6466C25.0008 27.5826 25.1501 27.4974 25.1971 27.4591C25.2397 27.4208 25.5683 27.0202 25.9268 26.5772C26.618 25.7079 26.7759 25.5674 27.2496 25.4055C27.8513 25.201 28.4657 25.2563 29.0844 25.5716C29.5538 25.8145 30.5779 26.4493 31.2393 26.9095C32.1098 27.5187 33.9703 29.0355 34.2221 29.3381C34.6658 29.8834 34.7427 30.5821 34.4439 31.3534C34.1281 32.1671 32.8992 33.6925 32.0415 34.3444C31.2649 34.9323 30.7145 35.1581 29.9891 35.1922C29.3917 35.222 29.1442 35.1709 28.3804 34.8556C22.3893 32.3887 17.6059 28.7075 13.8081 23.65C11.8239 21.0084 10.3134 18.2688 9.28067 15.427C8.67905 13.7696 8.64921 13.0495 9.14413 12.2017C9.35753 11.8438 10.2664 10.9575 10.9278 10.4633C12.0288 9.64524 12.5365 9.34273 12.9419 9.25754C13.2193 9.19787 13.7014 9.24473 14.0087 9.35552Z"
                fill="white" />
              <defs>
                <linearGradient id="paint2_linear" x1="22" y1="-7.26346e-09" x2="22.1219" y2="40.5458"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#e8434c" />
                  <stop offset="1" stop-color="#d61114" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Gọi ngay cho chúng tôi</span>
          </a>
        </li>
        <li class="addThis_item">
          <a class="addThis_item--icon" data-toggle="modal" href="#addthis-modalContact">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint1_linear)" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.4589 11.6667H32.5414C33.1621 11.6667 33.6993 11.8861 34.153 12.3245C34.6062 12.7634 34.8332 13.2904 34.8332 13.9064C34.8332 14.6435 34.599 15.3481 34.1319 16.0197C33.6639 16.6914 33.0816 17.2655 32.3846 17.7413C30.0672 19.3131 28.3185 20.4998 27.1311 21.3061C26.4785 21.7489 25.9931 22.0787 25.6817 22.2905C25.6355 22.3222 25.5634 22.3723 25.4675 22.4396C25.3643 22.5117 25.2337 22.6037 25.0729 22.7174C24.7625 22.9368 24.5048 23.114 24.2994 23.2495C24.0938 23.3846 23.8457 23.5363 23.5545 23.7043C23.2631 23.8724 22.9887 23.9983 22.7309 24.0823C22.4731 24.1661 22.2344 24.2082 22.0148 24.2082H22.0006H21.9863C21.7667 24.2082 21.5281 24.1661 21.2702 24.0823C21.0125 23.9983 20.7378 23.8721 20.4466 23.7043C20.1552 23.5363 19.9068 23.385 19.7017 23.2495C19.4964 23.114 19.2386 22.9368 18.9284 22.7174C18.7672 22.6037 18.6366 22.5118 18.5334 22.4393L18.5233 22.4323C18.4325 22.3688 18.3638 22.3208 18.3195 22.2905C17.9197 22.0157 17.4354 21.6846 16.8739 21.3022C16.2152 20.8532 15.4486 20.3329 14.5671 19.7359C12.9342 18.6303 11.9554 17.9654 11.6308 17.7413C11.0388 17.3494 10.4802 16.8107 9.95513 16.1248C9.43011 15.4387 9.16748 14.8018 9.16748 14.214C9.16748 13.4864 9.36539 12.8796 9.76184 12.3944C10.158 11.9095 10.7234 11.6667 11.4589 11.6667ZM33.4002 19.2392C31.4494 20.5296 29.7913 21.6405 28.4258 22.5725L34.8324 28.8337V18.0213C34.4217 18.4695 33.9443 18.8752 33.4002 19.2392ZM9.1665 18.0214C9.58659 18.4788 10.0691 18.8848 10.6132 19.2393C12.6414 20.5863 14.2935 21.6952 15.5757 22.5701L9.1665 28.8335V18.0214ZM34.0421 30.8208C33.6172 31.1883 33.1173 31.3745 32.5403 31.3745H11.4578C10.8809 31.3745 10.3807 31.1883 9.95575 30.8208L17.2287 23.7122C17.4107 23.8399 17.5789 23.9592 17.7306 24.0679C18.2751 24.4597 18.7165 24.7654 19.0556 24.9845C19.3944 25.2041 19.8455 25.4279 20.4091 25.6564C20.9726 25.8853 21.4976 25.9993 21.9847 25.9993H21.9989H22.0132C22.5002 25.9993 23.0253 25.8852 23.5888 25.6564C24.152 25.4279 24.6032 25.2041 24.9423 24.9845C25.2814 24.7654 25.7231 24.4597 26.2672 24.0679C26.427 23.955 26.5961 23.8362 26.7705 23.7141L34.0421 30.8208Z"
                fill="white" />
              <defs>
                <linearGradient id="paint1_linear" x1="22" y1="0" x2="22" y2="44" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#70f3ff" />
                  <stop offset="1" stop-color="#00dcf0" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Đăng kí thông tin và để lại lời nhắn</span>
          </a>
        </li>
        <li class="addThis_item">
          <a class="addThis_item--icon" href="/pages/lien-he">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint5_linear)" />
              <path
                d="M22 10C17.0374 10 13 13.7367 13 18.3297C13 24.0297 21.0541 32.3978 21.397 32.7512C21.7191 33.0832 22.2815 33.0826 22.603 32.7512C22.9459 32.3978 31 24.0297 31 18.3297C30.9999 13.7367 26.9626 10 22 10ZM22 22.5206C19.5032 22.5206 17.4719 20.6406 17.4719 18.3297C17.4719 16.0188 19.5032 14.1388 22 14.1388C24.4968 14.1388 26.528 16.0189 26.528 18.3297C26.528 20.6406 24.4968 22.5206 22 22.5206Z"
                fill="white" />
              <defs>
                <linearGradient id="paint5_linear" x1="22" y1="0" x2="22" y2="44" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#fecf72" />
                  <stop offset="1" stop-color="#ef9f00" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Xem địa chỉ doanh nghiệp</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="actionToolbar_mobile visible-xs ">
      <ul class="actionToolbar_listing">
        <li>
          <a href="tel:(+84) 365.888.233">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.0087 9.35552C14.1581 9.40663 14.3885 9.52591 14.5208 9.61114C15.3315 10.148 17.5888 13.0324 18.3271 14.4726C18.7495 15.2949 18.8903 15.9041 18.758 16.3558C18.6214 16.8415 18.3953 17.0971 17.384 17.9109C16.9786 18.239 16.5988 18.5756 16.5391 18.6651C16.3855 18.8866 16.2617 19.3212 16.2617 19.628C16.266 20.3395 16.7269 21.6305 17.3328 22.6232C17.8021 23.3944 18.6428 24.3828 19.4749 25.1413C20.452 26.0361 21.314 26.6453 22.2869 27.1268C23.5372 27.7488 24.301 27.9064 24.86 27.6466C25.0008 27.5826 25.1501 27.4974 25.1971 27.4591C25.2397 27.4208 25.5683 27.0202 25.9268 26.5772C26.618 25.7079 26.7759 25.5674 27.2496 25.4055C27.8513 25.201 28.4657 25.2563 29.0844 25.5716C29.5538 25.8145 30.5779 26.4493 31.2393 26.9095C32.1098 27.5187 33.9703 29.0355 34.2221 29.3381C34.6658 29.8834 34.7427 30.5821 34.4439 31.3534C34.1281 32.1671 32.8992 33.6925 32.0415 34.3444C31.2649 34.9323 30.7145 35.1581 29.9891 35.1922C29.3917 35.222 29.1442 35.1709 28.3804 34.8556C22.3893 32.3887 17.6059 28.7075 13.8081 23.65C11.8239 21.0084 10.3134 18.2688 9.28067 15.427C8.67905 13.7696 8.64921 13.0495 9.14413 12.2017C9.35753 11.8438 10.2664 10.9575 10.9278 10.4633C12.0288 9.64524 12.5365 9.34273 12.9419 9.25754C13.2193 9.19787 13.7014 9.24473 14.0087 9.35552Z" />
            </svg>
          </a>
        </li> <!-- chatbot harafunnel -->
        <li class="actionToolbar_chatbot">
          <a href="//m.me/108520260558644" target="_blank">
            <span class="messenger_absolute ">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="url(#paint3_linear)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22.0026 7.70215C14.1041 7.70215 7.70117 13.6308 7.70117 20.9442C7.70117 25.1115 9.78083 28.8286 13.0309 31.256V36.305L17.9004 33.6325C19.2 33.9922 20.5767 34.1863 22.0026 34.1863C29.9011 34.1863 36.304 28.2576 36.304 20.9442C36.304 13.6308 29.9011 7.70215 22.0026 7.70215ZM23.4221 25.5314L19.7801 21.6471L12.6738 25.5314L20.4908 17.2331L24.2216 21.1174L31.239 17.2331L23.4221 25.5314Z"
                  fill="white" />
                <defs>
                  <linearGradient id="paint3_linear" x1="21.6426" y1="43.3555" x2="21.6426" y2="0.428639"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1168CF" />
                    <stop offset="1" stop-color="#2CB7FF" />
                  </linearGradient>
                </defs>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a data-toggle="modal" href="#addthis-modalContact" rel="nofollow">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.4589 11.6667H32.5414C33.1621 11.6667 33.6993 11.8861 34.153 12.3245C34.6062 12.7634 34.8332 13.2904 34.8332 13.9064C34.8332 14.6435 34.599 15.3481 34.1319 16.0197C33.6639 16.6914 33.0816 17.2655 32.3846 17.7413C30.0672 19.3131 28.3185 20.4998 27.1311 21.3061C26.4785 21.7489 25.9931 22.0787 25.6817 22.2905C25.6355 22.3222 25.5634 22.3723 25.4675 22.4396C25.3643 22.5117 25.2337 22.6037 25.0729 22.7174C24.7625 22.9368 24.5048 23.114 24.2994 23.2495C24.0938 23.3846 23.8457 23.5363 23.5545 23.7043C23.2631 23.8724 22.9887 23.9983 22.7309 24.0823C22.4731 24.1661 22.2344 24.2082 22.0148 24.2082H22.0006H21.9863C21.7667 24.2082 21.5281 24.1661 21.2702 24.0823C21.0125 23.9983 20.7378 23.8721 20.4466 23.7043C20.1552 23.5363 19.9068 23.385 19.7017 23.2495C19.4964 23.114 19.2386 22.9368 18.9284 22.7174C18.7672 22.6037 18.6366 22.5118 18.5334 22.4393L18.5233 22.4323C18.4325 22.3688 18.3638 22.3208 18.3195 22.2905C17.9197 22.0157 17.4354 21.6846 16.8739 21.3022C16.2152 20.8532 15.4486 20.3329 14.5671 19.7359C12.9342 18.6303 11.9554 17.9654 11.6308 17.7413C11.0388 17.3494 10.4802 16.8107 9.95513 16.1248C9.43011 15.4387 9.16748 14.8018 9.16748 14.214C9.16748 13.4864 9.36539 12.8796 9.76184 12.3944C10.158 11.9095 10.7234 11.6667 11.4589 11.6667ZM33.4002 19.2392C31.4494 20.5296 29.7913 21.6405 28.4258 22.5725L34.8324 28.8337V18.0213C34.4217 18.4695 33.9443 18.8752 33.4002 19.2392ZM9.1665 18.0214C9.58659 18.4788 10.0691 18.8848 10.6132 19.2393C12.6414 20.5863 14.2935 21.6952 15.5757 22.5701L9.1665 28.8335V18.0214ZM34.0421 30.8208C33.6172 31.1883 33.1173 31.3745 32.5403 31.3745H11.4578C10.8809 31.3745 10.3807 31.1883 9.95575 30.8208L17.2287 23.7122C17.4107 23.8399 17.5789 23.9592 17.7306 24.0679C18.2751 24.4597 18.7165 24.7654 19.0556 24.9845C19.3944 25.2041 19.8455 25.4279 20.4091 25.6564C20.9726 25.8853 21.4976 25.9993 21.9847 25.9993H21.9989H22.0132C22.5002 25.9993 23.0253 25.8852 23.5888 25.6564C24.152 25.4279 24.6032 25.2041 24.9423 24.9845C25.2814 24.7654 25.7231 24.4597 26.2672 24.0679C26.427 23.955 26.5961 23.8362 26.7705 23.7141L34.0421 30.8208Z" />
            </svg>
          </a>
        </li>
        <li>
          <a href="/pages/lien-he">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M22 10C17.0374 10 13 13.7367 13 18.3297C13 24.0297 21.0541 32.3978 21.397 32.7512C21.7191 33.0832 22.2815 33.0826 22.603 32.7512C22.9459 32.3978 31 24.0297 31 18.3297C30.9999 13.7367 26.9626 10 22 10ZM22 22.5206C19.5032 22.5206 17.4719 20.6406 17.4719 18.3297C17.4719 16.0188 19.5032 14.1388 22 14.1388C24.4968 14.1388 26.528 16.0189 26.528 18.3297C26.528 20.6406 24.4968 22.5206 22 22.5206Z" />
            </svg>
          </a>
        </li>
      </ul>
    </div> <!-- Modal -->
    <div class="modal fade modal-addThis modal-contactform" id="addthis-modalContact" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Để lại lời nhắn cho chúng tôi</h4>
          </div>
          <div class="modal-body content_popupform">
            <form class="form-modal" role="form">
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="text" class="form-control" id="yourname" placeholder="Tên của bạn">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="email" class="form-control" id="youremail" placeholder="Email của bạn">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required pattern="\+?\(?\d{2,4}\)?[\d\s-]{3,}" maxlength="12" type="text" id="yourphone"
                      class="form-control" placeholder="Số điện thoại của bạn" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <textarea placeholder="Nội dung" class="form-control" id="yourinfor"></textarea>
                  </div>
                </div>
                <div class="col-xs-12 text-center"><button class="btnSubmit-modal button dark">Gửi cho chúng
                    tôi</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-addThis modal-succes">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-icon sweet-alert">
            <div class="sa-icon sa-success animate"> <span class="sa-line sa-tip animateSuccessTip"></span> <span
                class="sa-line sa-long animateSuccessLong"></span>
              <div class="sa-placeholder"></div>
              <div class="sa-fix"></div>
            </div>
          </div>
          <div class="modal-body text-center">
            <p class="modal-title">Đăng kí thông tin thành công</p>
            <p>Cảm ơn bạn đã để lại thông tin <br> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </p>
            <p class="txtloading">Thông báo sẽ tự động tắt sau 5 giây...</p>
          </div>
        </div>
      </div>
    </div> <!-- haravan app -->
    <!-- END - haravan app -->
    <div id="site-nav--mobile" class="site-nav style--sidebar">
      {% include '{{code}}/templates/site-navigation' %}
      {% include '{{code}}/templates/site-cart' %}
      {% include '{{code}}/templates/site-search' %}
      <button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng">
        <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
      </button>
    </div>
    <div id="site-overlay" class="site-overlay"></div>
    <div class="back-to-top hidden">
      <a href="javascript:void(0);">
        <div class="btt-back">
          <span class="btt-label-back">back to top</span>
          <span class="btt-icon-back"><i class="fa fa-long-arrow-up"></i></span>
        </div>
      </a>
    </div>
  </div>
</body>
{% include '{{code}}/templates/footer' %}

</html>