<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html amp class="no-js" lang="vi">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <!--[if lt IE 9]><script src="//hsta tic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="revisit-after" content="1 day" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true">
  <link rel="shortcut icon" href="{{settings.logo}}" type="image/png" />
  <title>Store {{shop}} </title>
  <base href="{{base_url}}" target="_blank">
  <meta name="description" content="Sách trẻ dành cho người trẻ" />
  <meta name="keywords" content="Store">
  <meta name="robots" content="index,follow,noodp">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="//www.google-analytics.com/">
  <link rel="dns-prefetch" href="//www.googletagmanager.com/">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=vietnamese"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/style-new.css">
  <script src='./assets/js/jquery.min.1.11.0.js' type='text/javascript'></script>
  <script>
    var formatMoney = '{{amount}}₫';
    var template = "index";
  </script>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Store" />
  <meta property="og:image" content="{{settings.banner1}}" />
  <meta property="og:image:secure_url" content="{{settings.banner1}}" />
  <meta property="og:description" content="Sách trẻ dành cho người trẻ" />
  <meta property="og:url" content="https://quochuydev.com/" />
  <meta property="og:site_name" content="Store" />
  <meta name="description" content="Sách trẻ dành cho người trẻ" />
  <style>
    .wrapper-home-newsletter.lazyloaded {
      background-image: url({{settings.banner1}});
    }

    @media (max-width: 480px) {
      .wrapper-home-newsletter.lazyloaded {
        background-image: url({{settings.banner1}});
      }
    }
  </style>
</head>

<body id="Xetaigianat-store" class="collection">
  <!-- Facebook Pixel Code -->
  <div class="main-body  layoutProduct_scroll ">
    <div class="scroller">
      <div class="scroller-inner">
        <div class="promo-bar" id="topbar">
          <div class="container">
            <div id="slideText">
              <p><a href="https://shop.Xetaigianat.com/products/nguoi-trong-muon-nghe-nganh-it-co-gi"><span>"Người Trong
                    Muôn Nghề: Ngành IT có gì?"<span> sẽ ra mắt vào ngày 02/08!</a></p>
              <p><a href="https://shop.Xetaigianat.com/products/nguoi-trong-muon-nghe-nganh-it-co-gi">Nhập mã
                  ''Xetaigianat''
                  để được giảm ngay 15.000VND cho mỗi cuốn sách "Người Trong Muôn Nghề: Ngành IT có gì?"</a></p>
            </div>
          </div>
        </div>
        <header class="main-header">
          <div class="wrapper-header " id='themes-header'>
            <div class="container">
              <div class="header-middle row-flex flex-flow-header">
                <div class="col-md-4 wrap-header-1 hidden-sm hidden-xs"></div>
                <div class="col-md-4 wrap-header-2 col-sm-6 col-xs-7">
                  <div class="main-header--logo fade-box" itemscope="" itemtype="http://schema.org/Organization">
                    <a href="https://shop.Xetaigianat.com" itemprop="url">
                      <img itemprop="logo" src="{{settings.logo}}" alt="Xetaigianat Store"
                        class="img-responsive logoimg lazyload" style="width: 64px;height: 64px;" />
                    </a>
                  </div>
                </div>
                <div class="col-md-4 wrap-header-3 col-sm-6 col-xs-5">
                  <div class="main-header--action row-flex">
                    <div class="action-acc"> </div>
                    <div class="action--search" id="site-search-handle">
                      <a href="/search">
                        <svg class="svg-search" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                          viewBox="0 0 451 451" style="enable-background:new 0 0 451 451;" xml:space="preserve">
                          <g>
                            <path
                              d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z">
                            </path>
                          </g>
                        </svg>
                      </a>
                    </div>
                    <div class="action-cart" id="site-cart-handle">
                      <a href="/cart">
                        <span class="cart-menu" aria-hidden="true">
                          <svg class="svg-cart" xmlns="http://www.w3.org/2000/svg" height="456pt"
                            viewBox="0 -13 456.75885 456" width="456pt">
                            <path
                              d="m150.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
                            </path>
                            <path
                              d="m446.855469 94.035156h-353.101563l-7.199218-40.300781c-4.4375-24.808594-23.882813-44.214844-48.699219-48.601563l-26.101563-4.597656c-5.441406-.96875-10.632812 2.660156-11.601562 8.097656-.964844 5.441407 2.660156 10.632813 8.101562 11.601563l26.199219 4.597656c16.53125 2.929688 29.472656 15.871094 32.402344 32.402344l35.398437 199.699219c4.179688 23.894531 24.941406 41.324218 49.199219 41.300781h210c22.0625.066406 41.546875-14.375 47.902344-35.5l47-155.800781c.871093-3.039063.320312-6.3125-1.5-8.898438-1.902344-2.503906-4.859375-3.980468-8-4zm-56.601563 162.796875c-3.773437 12.6875-15.464844 21.367188-28.699218 21.300781h-210c-14.566407.039063-27.035157-10.441406-29.5-24.800781l-24.699219-139.398437h336.097656zm0 0">
                            </path>
                            <path
                              d="m360.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
                            </path>
                          </svg>
                          <span class="count-holder"><span class="count">(4)</span></span>
                        </span>
                      </a>
                    </div>
                    <div class="action--bar hamburger-menu hidden-lg hidden-md" id="site-menu-handle">
                      <span class="bar"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 wrap-header-4 hidden-sm hidden-xs">
                  <div class="main-header--menu">
                    <nav class="navbar-mainmenu">
                      <ul class="list-mainmenu">
                        <li class="">
                          <a href="/" title="Trang chủ">
                            Trang chủ
                          </a>
                        </li>
                        <li class="has-submenu ">
                          <a href="/collections/all" title="Tủ sách nhện">
                            Tủ sách nhện
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                          </a>
                          <ul class="list-submenu">
                            <li class="">
                              <a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi"
                                title="Người trong muôn nghề: Ngành IT có gì?">
                                Người trong muôn nghề: Ngành IT có gì?
                              </a>
                            </li>
                            <li class="">
                              <a href="/products/nguoi-trong-muon-nghe" title="Người trong muôn nghề">
                                Người trong muôn nghề
                              </a>
                            </li>
                            <li class="active">
                              <a href="/products/du-hoc-ky-van-dam-co-chi" title="Du học ký: vạn dặm có chị?">
                                Du học ký: vạn dặm có chị?
                              </a>
                            </li>
                            <li class="">
                              <a href="/products/dam-ba-cai-tuoi-tre" title="Dăm ba cái tuổi trẻ">
                                Dăm ba cái tuổi trẻ
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="">
                          <a href="/blogs/chuyen-nha-nhen" title="Chuyện nhà Nhện">
                            Chuyện nhà Nhện
                          </a>
                        </li>
                        <li class="">
                          <a href="https://nguoitrongmuonnghe.Xetaigianat.vn/it" title="Dự án mới">
                            Dự án mới
                          </a>
                        </li>
                        <li class="">
                          <a href="/pages/lien-he" title="Liên hệ">
                            Liên hệ
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <main class="mainContent-theme ">
          <div id="collection" class="collection-page">
            <div class="main-content">
              <div class="banner-collection-header">
                <picture>
                  <source media="(min-width: 481px)" srcset="{{settings.product1}}">
                  <img src="{{settings.product1}}" alt="Products" />
                </picture>
              </div>
              <div class="breadcrumb-shop">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                      <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                          <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <a href="/collections" target="_self" itemprop="item">
                            <span itemprop="name">Danh mục</span>
                          </a>
                          <meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                          <span itemprop="item" content="/collections/all"><span itemprop="name">Tất cả sản
                              phẩm</span></span>
                          <meta itemprop="position" content="3" />
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="listing-collection-body">
                <div class="container">
                  <div class="row">
                    <div id="collection-body" class="wrap-collection-body clearfix">
                      <div class="col-md-3 col-sm-12 col-xs-12 sidebar-fix">
                        <div class="wrap-filter">
                          <div class="box_sidebar">
                            <div class="block left-module">
                              <div class=" filter_xs">
                                <div class="layered">
                                  <p class="title_block visible-sm visible-xs">
                                    Bộ lọc sản phẩm
                                    <span><i class="fa fa-angle-down"></i></span>
                                  </p>
                                  <div class="block_content">
                                    <!-- ./filter brand -->
                                    <div class="group-filter" aria-expanded="true">
                                      <div class="layered_subtitle dropdown-filter"><span>Thương hiệu</span><span
                                          class="icon-control"><i class="fa fa-minus"></i></span></div>
                                      <div class="layered-content bl-filter filter-brand">
                                        <ul class="check-box-list">
                                          <li>
                                            <input type="checkbox" id="data-brand-p1" value="Xetaigianat"
                                              name="brand-filter" data-vendor="(vendor:product**Xetaigianat)" />
                                            <label for="data-brand-p1">Xetaigianat</label>
                                          </li>
                                        </ul>
                                      </div>
                                    </div> <!-- ./filter price -->
                                    <div class="group-filter" aria-expanded="true">
                                      <div class="layered_subtitle dropdown-filter"><span>Giá sản phẩm</span><span
                                          class="icon-control"><i class="fa fa-minus"></i></span></div>
                                      <div class="layered-content bl-filter filter-price">
                                        <ul class="check-box-list">
                                          <li>
                                            <input type="checkbox" id="p1" name="cc"
                                              data-price="(price:product<=100000)" />
                                            <label for="p1">
                                              <span>Dưới</span> 100,000₫
                                            </label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="p2" name="cc"
                                              data-price="((price:product>100000)&amp;&amp;(price:product<=200000))" />
                                            <label for="p2">
                                              100,000₫ - 200,000₫
                                            </label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="p3" name="cc"
                                              data-price="((price:product>200000)&amp;&amp;(price:product<=300000))" />
                                            <label for="p3">
                                              200,000₫ - 300,000₫
                                            </label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="p4" name="cc"
                                              data-price="((price:product>300000)&amp;&amp;(price:product<=400000))" />
                                            <label for="p4">
                                              300,000₫ - 400,000₫
                                            </label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="p5" name="cc"
                                              data-price="(price:product>=400000)" />
                                            <label for="p5">
                                              <span>Trên</span> 400,000₫
                                            </label>
                                          </li>
                                        </ul>
                                      </div>
                                    </div> <!-- ./filter color -->
                                    <div class="group-filter" aria-expanded="true">
                                      <div class="layered_subtitle dropdown-filter"><span>Màu sắc</span><span
                                          class="icon-control"><i class="fa fa-minus"></i></span></div>
                                      <div class="layered-content filter-color s-filter">
                                        <ul class="check-box-list">
                                          <li>
                                            <input type="checkbox" id="data-color-p1" value="Vàng" name="color-filter"
                                              data-color="(variant:product**Vàng)" />
                                            <label for="data-color-p1" style="background-color: #f7f718"></label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="data-color-p4" value="Trắng" name="color-filter"
                                              data-color="(variant:product**Trắng)" />
                                            <label for="data-color-p4" style="background-color: #ffffff"></label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="data-color-p7" value="Xanh dương"
                                              name="color-filter" data-color="(variant:product**Xanh dương)" />
                                            <label for="data-color-p7" style="background-color: #6daef4"></label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="data-color-p9" value="Đỏ" name="color-filter"
                                              data-color="(variant:product**Đỏ)" />
                                            <label for="data-color-p9" style="background-color: #e2262a"></label>
                                          </li>
                                          <li>
                                            <input type="checkbox" id="data-color-p12" value="" name="color-filter"
                                              data-color="(variant:product**)" />
                                            <label for="data-color-p12" style="background-color: #6ab04c"></label>
                                          </li>
                                        </ul>
                                      </div>
                                    </div> <!-- ./filter size -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <script>
                            jQuery(document).ready(function () {
                              jQuery('.check-box-list li > input').click(function () {
                                //$('.custom-loader').show();
                                jQuery(this).parent().toggleClass('active');
                                Stringfilter();
                              })
                              str = "";
                              var Stringfilter = function () {
                                var q = "", gia = "", vendor = "", color = "", size = "", total_page = 0, cur_page = 1;
                                var handle_coll = $('#coll-handle').val();
                                var str_url = 'filter=';
                                q = "(" + handle_coll + ")";
                                jQuery('.filter-price ul.check-box-list li.active').each(function () {
                                  gia = gia + jQuery(this).find('input').data('price') + '||';
                                })
                                gia = gia.substring(0, gia.length - 2);
                                if (gia != "") {
                                  gia = '(' + gia + ')';
                                  q += '&&' + gia;
                                }
                                jQuery('.filter-brand ul.check-box-list li.active').each(function () {
                                  vendor = vendor + jQuery(this).find('input').data('vendor') + '||';
                                })
                                vendor = vendor.substring(0, vendor.length - 2);
                                if (vendor != "") {
                                  vendor = '(' + vendor + ')';
                                  q += '&&' + vendor;
                                }
                                jQuery('.filter-color ul.check-box-list li.active').each(function () {
                                  color = color + jQuery(this).find('input').data('color') + '||';
                                  //size2 = size2 + jQuery(this).data('s') + '--';
                                })
                                color = color.substring(0, color.length - 2);
                                if (color != "") {
                                  color = '(' + color + ')';
                                  q += '&&' + color;
                                }
                                jQuery('.filter-size ul.check-box-list li.active').each(function () {
                                  size = size + jQuery(this).find('input').data('size') + '||';
                                })
                                size = size.substring(0, size.length - 2);
                                if (size != "") {
                                  size = '(' + size + ')';
                                  q += '&&' + size;
                                }
                                console.log(str_url + q)
                                str_url += encodeURIComponent(q);
                                str = str_url;
                                jQuery.ajax({ // lấy tổng số trang của kết quả filter
                                  url: "/search?q=" + str_url + "&view=page",
                                  async: false,
                                  success: function (data) {
                                    total_page = parseInt(data);
                                  }
                                })
                                //console.log(total_page);
                                if (cur_page <= total_page) {
                                  jQuery('.pagi').show();
                                  jQuery.ajax({
                                    url: "/search?q=" + str_url + "&view=filter",
                                    success: function (data) {
                                      jQuery(".product-list.filter").html(data);
                                      jQuery('.content-product-list img').imagesLoaded(function () {
                                        jQuery(window).resize();
                                      });
                                      jQuery(".product-list.filter").removeClass('border');
                                      jQuery(".alert-no-filter").hide();
                                    }
                                  })
                                  jQuery.ajax({  // đoạn code 
                                    url: "/search?q=" + str_url + "&view=paginate",
                                    async: false,
                                    success: function (data) {
                                      //jQuery(".pagi-filter").html(data); // in phân trang
                                      jQuery(".pagi").html(data); // in phân trang
                                    }
                                  })
                                } else {
                                  if (jQuery('.alert-no').length > 0) {
                                    jQuery(".alert-no").html("<p>Không tìm thấy sản phẩm nào phù hợp!</p>");
                                  }
                                  else {
                                    jQuery(".alert-no-filter").show().html("<p>Không tìm thấy sản phẩm nào phù hợp!</p>");
                                  }
                                  //jQuery(".product-list.filter").html("<div class='col-sm-12 col-xs-12 text-center no-product'><p>Không tìm thấy sản phẩm nào phù hợp!</p></div>");
                                  jQuery(".product-list.filter").html('');
                                  jQuery(".product-list.filter").addClass('border');
                                  jQuery('.pagi').hide();
                                }
                                jQuery('.pagi').on("click", "a", function () { // bắt sự kiện click các nút phân trang
                                  var link = jQuery(this).attr("data-link");
                                  if (link == 'm') {
                                    link = cur - 1;
                                  }
                                  if (link == 'p') {
                                    link = cur + 1;
                                  }
                                  link = parseInt(link);
                                  jQuery.ajax({
                                    url: "/search?q=" + str + "&view=filter&page=" + link,
                                    success: function (data) {
                                      jQuery(".product-list.filter").html(data);
                                      cur = link;
                                    }
                                  })
                                  //console.log("/search?q="+str+"&view=paginate&page="+link);
                                  jQuery.ajax({
                                    url: "/search?q=" + str + "&view=paginate&page=" + link,
                                    success: function (data) {
                                      //jQuery(".pagi-filter").html(data); // in phân trang
                                      jQuery(".pagi").html(data); // in phân trang
                                    }
                                  })
                                });
                                var x = $('#collection-body').offset().top;
                                smoothScroll(x - 100, 500);
                              }
                            })
                          </script>
                        </div>
                      </div>
                      <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="wrap-collection-title row">
                          <div class="heading-collection row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                              <h1 class="title">
                                Tất cả sản phẩm
                              </h1>
                              <div class="alert-no-filter"></div>
                            </div>
                            <div class="col-md-4 hidden-sm hidden-xs">
                              <div class="option browse-tags">
                                <label class="lb-filter hide" for="sort-by">Sắp xếp theo:</label>
                                <span class="custom-dropdown custom-dropdown--grey">
                                  <select class="sort-by custom-dropdown__select">
                                    <option value="price-ascending" data-filter="&sortby=(price:product=asc)">Giá: Tăng
                                      dần</option>
                                    <option value="price-descending" data-filter="&sortby=(price:product=desc)">Giá:
                                      Giảm dần</option>
                                    <option value="title-ascending" data-filter="&sortby=(title:product=asc)">Tên: A-Z
                                    </option>
                                    <option value="title-descending" data-filter="&sortby=(price:product=desc)">Tên: Z-A
                                    </option>
                                    <option value="created-ascending" data-filter="&sortby=(updated_at:product=desc)">Cũ
                                      nhất</option>
                                    <option value="created-descending" data-filter="&sortby=(updated_at:product=asc)">
                                      Mới nhất</option>
                                    <option value="best-selling" data-filter="&sortby=(sold_quantity:product=desc)">Bán
                                      chạy nhất</option>
                                    <option value="quantity-descending">Tồn kho: Giảm dần</option>
                                  </select>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row filter-here">
                          <div class="content-product-list product-list filter clearfix">
                            <div class=" col-md-4  col-sm-4 col-xs-6 pro-loop">
                              <div class="product-block product-resize" data-anmation="1">
                                <div class="product-img">
                                  <div class="product-sale"><span>-12%</span></div> <a
                                    href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-nguoi-trong-muon-nghe-nganh-it-co-gi"
                                    title="Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?"
                                    class="image-resize">
                                    <picture>
                                      <source srcset="{{settings.product1}}">
                                      <img class="img-loop"
                                        alt=" Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì? "
                                        src="{{settings.product1}}" />
                                    </picture>
                                    <picture>
                                      <source srcset="{{settings.product2}}">
                                      <img class="img-loop"
                                        alt=" Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì? "
                                        src="{{settings.product2}}" />
                                    </picture>
                                  </a>
                                  <div class="button-add">
                                    <button type="submit" title="Mua ngay" class="action"
                                      onclick="buy_now('1060964574')">Mua ngay</button>
                                    <button type="submit" title="Thêm vào giỏ" class="action add-to-cart"
                                      data-variantid="1060964574">Thêm vào giỏ</button>
                                  </div>
                                </div>
                                <div class="product-detail clearfix">
                                  <div class="box-pro-detail">
                                    <h3 class="pro-name">
                                      <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-nguoi-trong-muon-nghe-nganh-it-co-gi"
                                        title="Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?">
                                        Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?
                                      </a>
                                    </h3>
                                    <div class="box-pro-prices">
                                      <p class="pro-price highlight">299,000₫
                                        <span class="pro-price-del"><del class="compare-price">338,000₫</del></span>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="sortpagibar pagi clearfix text-center">
                            <div id="pagination" class="clearfix">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <input type="text" class="hidden" id="coll-handle" value="(collectionid:product>0)" />
          </div>
          <script>
            quochuydev.queryParams = {};
            if (location.search.length) {
              for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
                aKeyValue = aCouples[i].split('=');
                if (aKeyValue.length > 1) {
                  quochuydev.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
                }
              }
            }
            var collFilters = jQuery('.coll-filter');
            collFilters.change(function () {
              var newTags = [];
              var newURL = '';
              delete quochuydev.queryParams.page;
              collFilters.each(function () {
                if (jQuery(this).val()) {
                  newTags.push(jQuery(this).val());
                }
              }); newURL = '/collections/' + 'all';
              if (newTags.length) {
                newURL += '/' + newTags.join('+');
              }
              var search = jQuery.param(quochuydev.queryParams);
              if (search.length) {
                newURL += '?' + search;
              }
              location.href = newURL;
            });
            jQuery('.sort-by')
              .val('created-descending')
              .bind('change', function () {
                quochuydev.queryParams.sort_by = jQuery(this).val();
                location.search = jQuery.param(quochuydev.queryParams);
              });
          </script>
        </main>
        <!-- 7. Gallery -->
        <footer class="main-footer mainfooter-toolbar ">
          <div class="main-footer--bottom">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title"> Giới thiệu</h4>
                    <div class="footer-content">
                      <p>Hỗ trợ vay mượn ngân hàng</p>
                      <div class="social-list"> <a href="https://www.facebook.com/XetaigianatBooks/"
                          class="fa fa-facebook"></a>
                        <a href="http://Xetaigianat.com/" class="fa fa-google"></a> <a
                          href="https://www.youtube.com/channel/UCRsd_L7wBGdHLhfacuy3QVw" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/Xetaigianat.official/" class="fa fa-skype"></a> </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-link">
                    <h4 class="footer-title">
                      PHÁP LÝ & CÂU HỎI
                    </h4>
                    <div class="footer-content toggle-footer">
                      <ul>
                        <li class="item">
                          <a href="/search" title="Tìm kiếm">Tìm kiếm</a>
                        </li>
                        <li class="item">
                          <a href="/pages/about-us" title="Giới thiệu">Giới thiệu</a>
                        </li>
                        <li class="item">
                          <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản và điều kiện giao dịch chung">Điều khoản
                            và điều kiện giao dịch chung</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-giao-nhan-san-pham" title="Chính sách giao nhận sản phẩm">Chính
                            sách giao nhận sản phẩm</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo vệ thông tin cá nhân">Chính sách bảo
                            vệ thông tin cá nhân</a>
                        </li>
                        <li class="item">
                          <a href="/pages/chinh-sach-thanh-toan" title="Chính sách thanh toán">Chính sách thanh toán</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title">
                      Thông tin liên hệ
                    </h4>
                    <div class="footer-content toggle-footer">
                      <ul>
                        <li><span>Địa chỉ:</span> Võ Công Tồn - Tân Phú - TPHCM</li>
                        <li><span>Điện thoại:</span> 0382986838</li>
                        <li><span>Fax:</span> </li>
                        <li><span>Mail:</span> contact@Xetaigianat.com</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                  <div class="footer-col footer-block">
                    <h4 class="footer-title">
                      FANPAGE
                    </h4>
                    <div class="footer-content">
                      <!-- Facebook widget -->
                      <div class="footer-static-content">
                        <div class="fb-page" data-href="https://www.facebook.com/XetaigianatBooks/" data-height="300"
                          data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                          data-show-facepile="true" data-show-posts="false"> </div>
                      </div>
                      <div style="clear:both;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-footer--copyright">
            <div class="container">
              <div class="main-footer--border">
                <p>Copyright © 2020 <a href=""> Xetaigianat Store</a>. <a target='_blank'
                    href='https://www.quochuydev.com'>Powered by quochuydev</a></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="addThis_listSharing hidden-xs">
      <ul class="addThis_listing">
        <li class="addThis_item">
          <a class="addThis_item--icon" href="tel:0382986838" rel="nofollow">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint2_linear)" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.0087 9.35552C14.1581 9.40663 14.3885 9.52591 14.5208 9.61114C15.3315 10.148 17.5888 13.0324 18.3271 14.4726C18.7495 15.2949 18.8903 15.9041 18.758 16.3558C18.6214 16.8415 18.3953 17.0971 17.384 17.9109C16.9786 18.239 16.5988 18.5756 16.5391 18.6651C16.3855 18.8866 16.2617 19.3212 16.2617 19.628C16.266 20.3395 16.7269 21.6305 17.3328 22.6232C17.8021 23.3944 18.6428 24.3828 19.4749 25.1413C20.452 26.0361 21.314 26.6453 22.2869 27.1268C23.5372 27.7488 24.301 27.9064 24.86 27.6466C25.0008 27.5826 25.1501 27.4974 25.1971 27.4591C25.2397 27.4208 25.5683 27.0202 25.9268 26.5772C26.618 25.7079 26.7759 25.5674 27.2496 25.4055C27.8513 25.201 28.4657 25.2563 29.0844 25.5716C29.5538 25.8145 30.5779 26.4493 31.2393 26.9095C32.1098 27.5187 33.9703 29.0355 34.2221 29.3381C34.6658 29.8834 34.7427 30.5821 34.4439 31.3534C34.1281 32.1671 32.8992 33.6925 32.0415 34.3444C31.2649 34.9323 30.7145 35.1581 29.9891 35.1922C29.3917 35.222 29.1442 35.1709 28.3804 34.8556C22.3893 32.3887 17.6059 28.7075 13.8081 23.65C11.8239 21.0084 10.3134 18.2688 9.28067 15.427C8.67905 13.7696 8.64921 13.0495 9.14413 12.2017C9.35753 11.8438 10.2664 10.9575 10.9278 10.4633C12.0288 9.64524 12.5365 9.34273 12.9419 9.25754C13.2193 9.19787 13.7014 9.24473 14.0087 9.35552Z"
                fill="white" />
              <defs>
                <linearGradient id="paint2_linear" x1="22" y1="-7.26346e-09" x2="22.1219" y2="40.5458"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#e8434c" />
                  <stop offset="1" stop-color="#d61114" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Gọi ngay cho chúng tôi</span>
          </a>
        </li>
        <li class="addThis_item">
          <a class="addThis_item--icon" data-toggle="modal" href="#addthis-modalContact">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint1_linear)" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.4589 11.6667H32.5414C33.1621 11.6667 33.6993 11.8861 34.153 12.3245C34.6062 12.7634 34.8332 13.2904 34.8332 13.9064C34.8332 14.6435 34.599 15.3481 34.1319 16.0197C33.6639 16.6914 33.0816 17.2655 32.3846 17.7413C30.0672 19.3131 28.3185 20.4998 27.1311 21.3061C26.4785 21.7489 25.9931 22.0787 25.6817 22.2905C25.6355 22.3222 25.5634 22.3723 25.4675 22.4396C25.3643 22.5117 25.2337 22.6037 25.0729 22.7174C24.7625 22.9368 24.5048 23.114 24.2994 23.2495C24.0938 23.3846 23.8457 23.5363 23.5545 23.7043C23.2631 23.8724 22.9887 23.9983 22.7309 24.0823C22.4731 24.1661 22.2344 24.2082 22.0148 24.2082H22.0006H21.9863C21.7667 24.2082 21.5281 24.1661 21.2702 24.0823C21.0125 23.9983 20.7378 23.8721 20.4466 23.7043C20.1552 23.5363 19.9068 23.385 19.7017 23.2495C19.4964 23.114 19.2386 22.9368 18.9284 22.7174C18.7672 22.6037 18.6366 22.5118 18.5334 22.4393L18.5233 22.4323C18.4325 22.3688 18.3638 22.3208 18.3195 22.2905C17.9197 22.0157 17.4354 21.6846 16.8739 21.3022C16.2152 20.8532 15.4486 20.3329 14.5671 19.7359C12.9342 18.6303 11.9554 17.9654 11.6308 17.7413C11.0388 17.3494 10.4802 16.8107 9.95513 16.1248C9.43011 15.4387 9.16748 14.8018 9.16748 14.214C9.16748 13.4864 9.36539 12.8796 9.76184 12.3944C10.158 11.9095 10.7234 11.6667 11.4589 11.6667ZM33.4002 19.2392C31.4494 20.5296 29.7913 21.6405 28.4258 22.5725L34.8324 28.8337V18.0213C34.4217 18.4695 33.9443 18.8752 33.4002 19.2392ZM9.1665 18.0214C9.58659 18.4788 10.0691 18.8848 10.6132 19.2393C12.6414 20.5863 14.2935 21.6952 15.5757 22.5701L9.1665 28.8335V18.0214ZM34.0421 30.8208C33.6172 31.1883 33.1173 31.3745 32.5403 31.3745H11.4578C10.8809 31.3745 10.3807 31.1883 9.95575 30.8208L17.2287 23.7122C17.4107 23.8399 17.5789 23.9592 17.7306 24.0679C18.2751 24.4597 18.7165 24.7654 19.0556 24.9845C19.3944 25.2041 19.8455 25.4279 20.4091 25.6564C20.9726 25.8853 21.4976 25.9993 21.9847 25.9993H21.9989H22.0132C22.5002 25.9993 23.0253 25.8852 23.5888 25.6564C24.152 25.4279 24.6032 25.2041 24.9423 24.9845C25.2814 24.7654 25.7231 24.4597 26.2672 24.0679C26.427 23.955 26.5961 23.8362 26.7705 23.7141L34.0421 30.8208Z"
                fill="white" />
              <defs>
                <linearGradient id="paint1_linear" x1="22" y1="0" x2="22" y2="44" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#70f3ff" />
                  <stop offset="1" stop-color="#00dcf0" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Đăng kí thông tin và để lại lời nhắn</span>
          </a>
        </li>
        <li class="addThis_item">
          <a class="addThis_item--icon" href="/pages/lien-he">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="22" cy="22" r="22" fill="url(#paint5_linear)" />
              <path
                d="M22 10C17.0374 10 13 13.7367 13 18.3297C13 24.0297 21.0541 32.3978 21.397 32.7512C21.7191 33.0832 22.2815 33.0826 22.603 32.7512C22.9459 32.3978 31 24.0297 31 18.3297C30.9999 13.7367 26.9626 10 22 10ZM22 22.5206C19.5032 22.5206 17.4719 20.6406 17.4719 18.3297C17.4719 16.0188 19.5032 14.1388 22 14.1388C24.4968 14.1388 26.528 16.0189 26.528 18.3297C26.528 20.6406 24.4968 22.5206 22 22.5206Z"
                fill="white" />
              <defs>
                <linearGradient id="paint5_linear" x1="22" y1="0" x2="22" y2="44" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#fecf72" />
                  <stop offset="1" stop-color="#ef9f00" />
                </linearGradient>
              </defs>
            </svg>
            <span class="tooltip-text">Xem địa chỉ doanh nghiệp</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="actionToolbar_mobile visible-xs ">
      <ul class="actionToolbar_listing">
        <li>
          <a href="tel:0382986838">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.0087 9.35552C14.1581 9.40663 14.3885 9.52591 14.5208 9.61114C15.3315 10.148 17.5888 13.0324 18.3271 14.4726C18.7495 15.2949 18.8903 15.9041 18.758 16.3558C18.6214 16.8415 18.3953 17.0971 17.384 17.9109C16.9786 18.239 16.5988 18.5756 16.5391 18.6651C16.3855 18.8866 16.2617 19.3212 16.2617 19.628C16.266 20.3395 16.7269 21.6305 17.3328 22.6232C17.8021 23.3944 18.6428 24.3828 19.4749 25.1413C20.452 26.0361 21.314 26.6453 22.2869 27.1268C23.5372 27.7488 24.301 27.9064 24.86 27.6466C25.0008 27.5826 25.1501 27.4974 25.1971 27.4591C25.2397 27.4208 25.5683 27.0202 25.9268 26.5772C26.618 25.7079 26.7759 25.5674 27.2496 25.4055C27.8513 25.201 28.4657 25.2563 29.0844 25.5716C29.5538 25.8145 30.5779 26.4493 31.2393 26.9095C32.1098 27.5187 33.9703 29.0355 34.2221 29.3381C34.6658 29.8834 34.7427 30.5821 34.4439 31.3534C34.1281 32.1671 32.8992 33.6925 32.0415 34.3444C31.2649 34.9323 30.7145 35.1581 29.9891 35.1922C29.3917 35.222 29.1442 35.1709 28.3804 34.8556C22.3893 32.3887 17.6059 28.7075 13.8081 23.65C11.8239 21.0084 10.3134 18.2688 9.28067 15.427C8.67905 13.7696 8.64921 13.0495 9.14413 12.2017C9.35753 11.8438 10.2664 10.9575 10.9278 10.4633C12.0288 9.64524 12.5365 9.34273 12.9419 9.25754C13.2193 9.19787 13.7014 9.24473 14.0087 9.35552Z" />
            </svg>
          </a>
        </li> <!-- chatbot harafunnel -->
        <li class="actionToolbar_chatbot">
          <a href="//m.me/108520260558644" target="_blank">
            <span class="messenger_absolute ">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="22" cy="22" r="22" fill="url(#paint3_linear)" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22.0026 7.70215C14.1041 7.70215 7.70117 13.6308 7.70117 20.9442C7.70117 25.1115 9.78083 28.8286 13.0309 31.256V36.305L17.9004 33.6325C19.2 33.9922 20.5767 34.1863 22.0026 34.1863C29.9011 34.1863 36.304 28.2576 36.304 20.9442C36.304 13.6308 29.9011 7.70215 22.0026 7.70215ZM23.4221 25.5314L19.7801 21.6471L12.6738 25.5314L20.4908 17.2331L24.2216 21.1174L31.239 17.2331L23.4221 25.5314Z"
                  fill="white" />
                <defs>
                  <linearGradient id="paint3_linear" x1="21.6426" y1="43.3555" x2="21.6426" y2="0.428639"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#1168CF" />
                    <stop offset="1" stop-color="#2CB7FF" />
                  </linearGradient>
                </defs>
              </svg>
            </span>
          </a>
        </li>
        <li>
          <a data-toggle="modal" href="#addthis-modalContact" rel="nofollow">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.4589 11.6667H32.5414C33.1621 11.6667 33.6993 11.8861 34.153 12.3245C34.6062 12.7634 34.8332 13.2904 34.8332 13.9064C34.8332 14.6435 34.599 15.3481 34.1319 16.0197C33.6639 16.6914 33.0816 17.2655 32.3846 17.7413C30.0672 19.3131 28.3185 20.4998 27.1311 21.3061C26.4785 21.7489 25.9931 22.0787 25.6817 22.2905C25.6355 22.3222 25.5634 22.3723 25.4675 22.4396C25.3643 22.5117 25.2337 22.6037 25.0729 22.7174C24.7625 22.9368 24.5048 23.114 24.2994 23.2495C24.0938 23.3846 23.8457 23.5363 23.5545 23.7043C23.2631 23.8724 22.9887 23.9983 22.7309 24.0823C22.4731 24.1661 22.2344 24.2082 22.0148 24.2082H22.0006H21.9863C21.7667 24.2082 21.5281 24.1661 21.2702 24.0823C21.0125 23.9983 20.7378 23.8721 20.4466 23.7043C20.1552 23.5363 19.9068 23.385 19.7017 23.2495C19.4964 23.114 19.2386 22.9368 18.9284 22.7174C18.7672 22.6037 18.6366 22.5118 18.5334 22.4393L18.5233 22.4323C18.4325 22.3688 18.3638 22.3208 18.3195 22.2905C17.9197 22.0157 17.4354 21.6846 16.8739 21.3022C16.2152 20.8532 15.4486 20.3329 14.5671 19.7359C12.9342 18.6303 11.9554 17.9654 11.6308 17.7413C11.0388 17.3494 10.4802 16.8107 9.95513 16.1248C9.43011 15.4387 9.16748 14.8018 9.16748 14.214C9.16748 13.4864 9.36539 12.8796 9.76184 12.3944C10.158 11.9095 10.7234 11.6667 11.4589 11.6667ZM33.4002 19.2392C31.4494 20.5296 29.7913 21.6405 28.4258 22.5725L34.8324 28.8337V18.0213C34.4217 18.4695 33.9443 18.8752 33.4002 19.2392ZM9.1665 18.0214C9.58659 18.4788 10.0691 18.8848 10.6132 19.2393C12.6414 20.5863 14.2935 21.6952 15.5757 22.5701L9.1665 28.8335V18.0214ZM34.0421 30.8208C33.6172 31.1883 33.1173 31.3745 32.5403 31.3745H11.4578C10.8809 31.3745 10.3807 31.1883 9.95575 30.8208L17.2287 23.7122C17.4107 23.8399 17.5789 23.9592 17.7306 24.0679C18.2751 24.4597 18.7165 24.7654 19.0556 24.9845C19.3944 25.2041 19.8455 25.4279 20.4091 25.6564C20.9726 25.8853 21.4976 25.9993 21.9847 25.9993H21.9989H22.0132C22.5002 25.9993 23.0253 25.8852 23.5888 25.6564C24.152 25.4279 24.6032 25.2041 24.9423 24.9845C25.2814 24.7654 25.7231 24.4597 26.2672 24.0679C26.427 23.955 26.5961 23.8362 26.7705 23.7141L34.0421 30.8208Z" />
            </svg>
          </a>
        </li>
        <li>
          <a href="/pages/lien-he">
            <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M22 10C17.0374 10 13 13.7367 13 18.3297C13 24.0297 21.0541 32.3978 21.397 32.7512C21.7191 33.0832 22.2815 33.0826 22.603 32.7512C22.9459 32.3978 31 24.0297 31 18.3297C30.9999 13.7367 26.9626 10 22 10ZM22 22.5206C19.5032 22.5206 17.4719 20.6406 17.4719 18.3297C17.4719 16.0188 19.5032 14.1388 22 14.1388C24.4968 14.1388 26.528 16.0189 26.528 18.3297C26.528 20.6406 24.4968 22.5206 22 22.5206Z" />
            </svg>
          </a>
        </li>
      </ul>
    </div> <!-- Modal -->
    <div class="modal fade modal-addThis modal-contactform" id="addthis-modalContact" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Để lại lời nhắn cho chúng tôi</h4>
          </div>
          <div class="modal-body content_popupform">
            <form class="form-modal" role="form">
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="text" class="form-control" id="yourname" placeholder="Tên của bạn">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required type="email" class="form-control" id="youremail" placeholder="Email của bạn">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <input required pattern="\+?\(?\d{2,4}\)?[\d\s-]{3,}" maxlength="12" type="text" id="yourphone"
                      class="form-control" placeholder="Số điện thoại của bạn" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <textarea placeholder="Nội dung" class="form-control" id="yourinfor"></textarea>
                  </div>
                </div>
                <div class="col-xs-12 text-center"><button class="btnSubmit-modal button dark">Gửi cho chúng
                    tôi</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade modal-addThis modal-succes">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-icon sweet-alert">
            <div class="sa-icon sa-success animate"> <span class="sa-line sa-tip animateSuccessTip"></span> <span
                class="sa-line sa-long animateSuccessLong"></span>
              <div class="sa-placeholder"></div>
              <div class="sa-fix"></div>
            </div>
          </div>
          <div class="modal-body text-center">
            <p class="modal-title">Đăng kí thông tin thành công</p>
            <p>Cảm ơn bạn đã để lại thông tin <br> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </p>
            <p class="txtloading">Thông báo sẽ tự động tắt sau 5 giây...</p>
          </div>
        </div>
      </div>
    <div id="site-nav--mobile" class="site-nav style--sidebar">
      <div id="site-navigation" class="site-nav-container">
        <div class="site-nav-container-last">
          <p class="title">Menu</p>
          <div class="main-navbar">
            <nav class="primary-menu">
              <ul class="menu-collection">
                <li class="navi1"><a href="/"><span>Trang chủ</span></a></li>
                <li class="navi1 has-sub nav-level0">
                  <a href="/collections/all">Tủ sách nhện</a>
                  <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
                  <ul class=" submenu subnav-children">
                    <li class="navi2"><a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi">Người trong muôn nghề:
                        Ngành IT có gì?</a></li>
                    <li class="navi2"><a href="/products/nguoi-trong-muon-nghe">Người trong muôn nghề</a></li>
                    <li class="navi2"><a href="/products/du-hoc-ky-van-dam-co-chi">Du học ký: vạn dặm có chị?</a></li>
                    <li class="navi2"><a href="/products/dam-ba-cai-tuoi-tre">Dăm ba cái tuổi trẻ</a></li>
                  </ul>
                </li>
                <li class="navi1"><a href="/blogs/chuyen-nha-nhen"><span>Chuyện nhà Nhện</span></a></li>
                <li class="navi1"><a href="https://nguoitrongmuonnghe.Xetaigianat.vn/it"><span>Dự án mới</span></a></li>
                <li class="navi1"><a href="/pages/lien-he"><span>Liên hệ</span></a></li>
              </ul>
              <ul class="menu-about">
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div id="site-cart" class="site-nav-container" tabindex="-1">
        <div class="site-nav-container-last">
          <p class="title">Giỏ hàng</p>
          <div class="cart-view clearfix">
            <table id="clone-item-cart" class="table-clone-cart">
              <tr class="item_2 hidden">
                <td class="img"><a href="" title=""><img src="" alt="" /></a></td>
                <td>
                  <a class="pro-title-view" href="" title=""></a>
                  <span class="variant"></span>
                  <span class="pro-quantity-view"></span>
                  <span class="pro-price-view"></span>
                  <span class="remove_link remove-cart">
                  </span>
                </td>
              </tr>
            </table>
            <table id="cart-view">
              <tr>
                <td class="img">
                  <a href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-nguoi-trong-muon-nghe-nganh-it-co-gi">
                    <img src="{{settings.product1}}"
                      alt="Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?" />
                  </a>
                </td>
                <td>
                  <a class="pro-title-view"
                    href="/products/combo-sach-dam-ba-cai-tuoi-tre-va-nguoi-trong-muon-nghe-nganh-it-co-gi"
                    title="Combo sách Dăm ba cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?">Combo sách Dăm ba
                    cái tuổi trẻ và Người trong muôn nghề: Ngành IT có gì?</a>
                  <span class="variant"></span>
                  <span class="pro-quantity-view">1</span>
                  <span class="pro-price-view">269,100₫</span>
                  <span class="remove_link remove-cart">
                    <a href='javascript:void(0);' onclick='deleteCart(1)'><i class='fa fa-times'></i></a>
                  </span>
                </td>
              </tr>
            </table>
            <span class="line"></span>
            <table class="table-total">
              <tr>
                <td class="text-left">TỔNG TIỀN:</td>
                <td class="text-right" id="total-view-cart">811,800₫</td>
              </tr>
              <tr>
                <td><a href="/cart" class="linktocart button dark">Xem giỏ hàng</a></td>
                <td><a href="/checkout" class="linktocheckout button buy-now">Thanh toán</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div id="site-search" class="site-nav-container" tabindex="-1">
        <div class="site-nav-container-last">
          <p class="title">Tìm kiếm</p>
          <div class="search-box wpo-wrapper-search">
            <form action="/search" class="searchform searchform-categoris ultimate-search">
              <div class="wpo-search-inner">
                <input type="hidden" name="type" value="product" />
                <input required id="inputSearchAuto" name="q" maxlength="40" autocomplete="off"
                  class="searchinput input-search search-input" type="text" size="20"
                  placeholder="Tìm kiếm sản phẩm...">
              </div>
              <button type="submit" class="btn-search btn" id="search-header-btn">
                <svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27"
                  style="enable-background:new 0 0 24 27;" xml:space="preserve">
                  <path
                    d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
                  </path>
                  <rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4"
                    height="8"></rect>
                </svg>
              </button>
            </form>
            <div id="ajaxSearchResults" class="smart-search-wrapper ajaxSearchResults" style="display: none">
              <div class="resultsContent"></div>
            </div>
          </div>
        </div>
      </div> <button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng">
        <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
      </button>
    </div>
    <div id="site-overlay" class="site-overlay"></div>
    <div class="back-to-top hidden">
      <a href="javascript:void(0);">
        <div class="btt-back">
          <span class="btt-label-back">back to top</span>
          <span class="btt-icon-back"><i class="fa fa-long-arrow-up"></i></span>
        </div>
      </a>
    </div>
  </div>
</body>
<footer>
  <script src='./assets/js/option_selection.js' type='text/javascript'></script>
  <script src='./assets/js/api.jquery.js' type='text/javascript'></script>
  <script src='./assets/js/lazysizes.min.js' type='text/javascript'></script>
  <script src='./assets/js/scripts.js' type='text/javascript'></script>
  <script src='./assets/js/plugins.js' type='text/javascript'></script>
  <script>
    document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');
    if (document.getElementById('topbar') != null) {
      document.documentElement.style.setProperty('--topbar-height', document.getElementById('topbar').offsetHeight + 'px');
    }
    else { document.documentElement.style.setProperty('--topbar-height', 0 + 'px'); }
  </script>
</footer>