<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <!--[if lt IE 9]><script src="//hsta tic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="revisit-after" content="1 day" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true">
  <link rel="shortcut icon" href="{{settings.logo}}" type="image/png" />
  <title>Store {{shop}} </title>
  <base href="{{base_url}}">
  <meta name="description" content="Sách trẻ dành cho người trẻ" />
  <meta name="keywords" content="Store">
  <meta name="robots" content="index,follow,noodp">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=vietnamese"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{base_url}}assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{base_url}}assets/css/style-new.css">
  <script src='{{base_url}}assets/js/jquery.min.1.11.0.js' type='text/javascript'></script>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Store" />
  <meta property="og:image" content="{{settings.banner1}}" />
  <meta property="og:image:secure_url" content="{{settings.banner1}}" />
  <meta property="og:description" content="Sách trẻ dành cho người trẻ" />
  <meta property="og:url" content="https://quochuydev.com/" />
  <meta property="og:site_name" content="Store" />
  <meta name="description" content="Sách trẻ dành cho người trẻ" />
  <style>
    .wrapper-home-newsletter.lazyloaded {
      background-image: url({{settings.banner1}});
    }

    @media (max-width: 480px) {
      .wrapper-home-newsletter.lazyloaded {
        background-image: url({{settings.banner1}});
      }
    }
  </style>
</head>